body {
    font-family: Arial, sans-serif;
    margin: 0;
    
    background-color: #f8f9fa;

}

nav {
    background-color: black;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    
}

section {
    padding: 40px;
}
.icon-arrow svg {
  width: 40px;
  height: 40px;
}

.icon-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}

.icon-arrow-left {
  left: 10px;
}

.icon-arrow-right {
  right: 10px;
}